<div id="header">
  <div id="img_l">
    <img src="../../assets/images/logo.png" alt="云大logo">
  </div>
  <div>
    <ul>
      <!-- <li><a href="#" data-toggle="modal" data-target="#myModal">学生</a></li>
      <li><a href="../../assets/pages/log_in.html">公司</a></li>
      <li><a href="../../assets/pages/log_in_admin.html">管理人员</a></li> -->
      <li><a routerLink="/returnForm" routerLinkActive="active">学生</a></li>
      <li><a routerLink="/log_in" routerLinkActive="active">公司</a></li>
      <li><a routerLink="/log_in_admin" routerLinkActive="active">管理人员</a></li>
    </ul>
  </div>
  <div>
    <img src="../../assets/images/top_img.jpg">
  </div>
</div>
