.white_a{
  color: white;
  text-decoration: none;
}
#bg{
  background-image: url(../images/登录背景.jpg);
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
}
#form{
  width: 800px;
  /* height: 500px; */
  /* background-color: rgba(255, 255, 255, .4); */
  background-color: white;
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
}
.row > span{
  margin-top: 10px;
}
h3{
  text-align: center;
  color: rgb(166, 12, 212);
  font-family: '楷体';
}
#btn_group{
  margin: 0 auto;
}
#btn-group > button{
  margin-top: 40px;
  margin-left: 120px;
  width: 100px;
}
#btn-group,#btn-group4 > button > a{
  color: white;
  text-decoration: none;
}

#btn-group4 > button{
  margin-top: 40px;
  margin-left: 80px;
  /* width: 120px; */
}

/* 公司登录页面的特殊样式 */
.bg-white{
  background-color: white;
  width: 500px;
  /* height: 400px; */
  display: block;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  text-align: center;
}
.bg-white > div{
  margin: 0 auto;
  margin-bottom: 20px;
}
.bg-white > input{
  width: 220px;
}
textarea{
  margin-top: 10px;
}
table{
  margin-top: 20px;
}


/* 关于表单是否必填的样式设置 */
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948;
}
.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}
h3{
  overflow-y: hidden;
}
