<app-pictures></app-pictures>
<div>
    <h3>云南大学2018年招生章程</h3>
    第一章 总则<br>
    第一条 为了保证招生工作的顺利进行，规范招生行为，提高生源质量，维护考生合法权益，贯彻落实“阳光工程”，根据《中华人民共和国教育法》、《中华人民共和国高等教育法》、《独立学院设置与管理办法》和教育部的有关文件，特制定本章程。<br>
    第二章 组织机构<br>
    第三条 学院成立招生工作领导组和招生工作委员会，全面负责学院招生工作，讨论决定招生工作中的重大事宜。<br>
    第四条 学院招生办公室是组织和实施招生工作的常设机构，办公室设在招生就业处，具体负责招生日常工作。<br>
    第五条 学院成立招生监察工作委员会，对招生工作进行全程监督。<br>
    第三章 招生计划<br>
    第六条 学院执行教育部和省级教育行政部门核准的招生计划总数，并通过各省级招生主管部门、学院招生简章、学院网站等形式向社会公布分省（区、市）分专业招生计划。<br>
    第四章 录取规则<br>
    第七条  学院遵循“公开、公平、公正”的原则，全面考核、综合评价、择优录取。<br>
    第八条 学院根据各省生源情况确定投档比例，并且不超过招生计划的120%，按各省级招办投档方式接收档案。<br>
    第九条 在实行非平行志愿投档录取模式的省份，学院以志愿优先原则录取，当第一志愿不满时接收非第一志愿考生。实行平行志愿投档录取模式的省份按照各省规定执行。<br>
    第十条 进档考生按分数优先原则并充分考虑相关科目成绩确定专业。当考生所有专业志愿不能满足时，服从专业调剂的考生将调剂到录取计划未满的专业，不服从调剂的考生将予以退档。云南省对进档考生以“先分数后等级”方式排序录取。<br>
    第十一条 对加分或降分投档考生按教育部和各省级招办有关规定执行。<br>
    第十二条 学院外语公共课只开设英语教学，建议非英语语种考生慎重报考；同时学院不开设藏语等少数民族语言教学。<br>
    第十三条 学校招生体检标准执行教育部、卫生部、中国残疾人联合会印发的《普通高等学校招生体检工作指导意见》，其中规定：“患有下列疾病者，学校可以不予录取”，本校规定不录取；“患有下列疾病者，学校有关专业可以不予录取”，本校规定有关专业不录取。<br>
    第十四条 音乐学专业（艺术类）录取办法：只招收声乐演唱、键盘乐器演奏、管弦乐器演奏、打击乐器演奏和中国乐器演奏方向，文化成绩和省级专业统考成绩达到相应批次控制线的情况下，按各省专业统考成绩择优录取。<br>
    第十五条 专升本和对口升学招生严格按照国家和山西省招生考试管理中心的相关录取办法执行。<br>
    第五章 学历、学位证书<br>
    第十六条 学生毕业时，符合中北大学信息商务学院颁发毕业证书条件者，颁发中北大学信息商务学院毕业证书；符合中北大学信息商务学院学位授予条件者，颁发云南大学信息商务学院学士学位证书。<br>
    第六章 其它事宜\
    第十七条 计算机科学与技术专业实行“3＋1”培养模式，即实行三年在校内学习，一年在校外实训基地学习与实训的培养模式。<br>
    第十八条 学费、住宿费等严格按照山西省物价局批准的收费标准执行。<br>
    第十九条 新生入校后进行入学资格审查，凡不符合报考条件或弄虚作假者，取消入学资格。<br>
    第二十条 我院设有多项奖学金以及多种形式的勤工助学以帮助经济困难的学生顺利完成学业，同时家庭经济困难的学生可按国家政策规定在生源地申请国家助学贷款。<br>

</div>
