<div class="container" id="bg" action="#" method="POST">
  <div class="form-group bg-white">
    <div>
      <img src="../../assets/images/icon.png" alt="云大logo">
    </div>
    <div>
        <img src="../../assets/images/ynu.png" alt="云南大学">
    </div>
    <div>
      <i class="fa fa-user" style="font-size: 30px; color: #0099FF;margin-right: 30px;"></i>
      <input type="text" placeholder="请输入用户名" style="width: 300px;">
    </div>
    <div>
      <i class="fa fa-lock" style="font-size: 30px; color: #0099FF;margin-right: 30px;"></i>
      <input type="password" placeholder="请输入密码" style="width: 300px;">
    </div>
    <div>
      <button type="button" class="btn btn-primary btn-block" title="登录后，可填写招聘会申请表单">
        <a routerLink="/manage_employment_info" routerLinkActive="active" class="white_a" title="登录后，即可进行登录信息管理">登录</a>
      </button>
    </div>
  </div>
</div>
