<div>
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" routerLink="/home" routerLinkActive="active">首页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" routerLink="/regulations" routerLinkActive="active">招生简章</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" routerLink="/dynamic" routerLinkActive="active">招生动态</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" routerLink="/plan" routerLinkActive="active">招生计划</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" routerLink="/data" routerLinkActive="active">历年数据</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" routerLink="/employ" routerLinkActive="active">就业创业</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" routerLink="/job" routerLinkActive="active">招聘信息</a>
    </li>
  </ul>
</div>
