div{
  background-color: #0099CC;
  /* padding-top: 15px; */
  width: 105%;
  margin-left: -20px;
}
ul > li{
  display: inline-block;
  margin-left: 20px;
}
ul{
  margin-left: 100px;
}
a{
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}
a:hover{
  /* background-color: #0099ff; */
  /* color: #80ff80; */
  /* color: black; */
}

